.modal-container {
    position: absolute;
    top: 4rem;
    left: -5.3rem;
    opacity: 0;
}

.modal {
    width: 13.4rem;
    border-radius: 1rem;
    padding: 1rem 0rem 0rem 1rem;
    position: relative;
    background-color: #FFFFFF;
}

.modal:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 5.3rem;
    top: -1rem;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #FFFFFF;
}

.modal-content {
    width: 60%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.modal-content button {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #000000;
    margin-bottom: 1rem;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.modal-content button:hover {
    color: #5E6C84;
    text-decoration: underline;
}

.sign-in-button {
    border: none;
    background: none;
    cursor: pointer;
}

.turn {
    transform: rotate(0.5turn);
}

.active {
    opacity: 1;
    position: absolute;
    top: 4rem;
    left: -5.3rem;
}